<div class="container">
<h1 style="margin: 0px; padding: 8px">My Reservations</h1>
<div id='parking-holder'>
  <div id='parkings-options'>
    <% @bookings.each do |booking| %>
      <%= render "bookings/card", booking: booking %>
    <% end %>
  </div>
</div>
</div>
