<h1>Parking Lot</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @parking.address %></h1>
    <p><%= @parking.price %></p>
    <a class="btn btn-flat" href="#">Book Parking Lot</a>
  </div>
</div>
<%= link_to "Back", root_path, class: "btn btn-danger" %>
